.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.image-size{
  max-width: 450px;
}
.loginwithgoogle{
  background-color: #3b5998;
}
.loginwithfacebook{
  background-color: #3b5998;
}
.button-design{
  border-radius: 20px;
}
.text-font{
  font-size: 15px;
}